<div class="grid-container">
  <!-- 1 -->
  <div
    class="item-1"
    [ngClass]="url===undefined ? 'background-primary-item' : ''" appDrag
    (fileDropped)="onFileDropped($event)">
    <div *ngIf="url !== undefined" class="uploaded-image-container hover-to-delete">
      <img src="{{url}}" alt="Uploaded Image" class="uploaded-image">
      <span class="tooltiptext" (click)="onDeletePicture()">Click here to Reset</span>
    </div>
    <input *ngIf="url === undefined" type="file" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event)"
           name="image"/>
    <div *ngIf="url === undefined" class="image-display">
      <div class="dotted-line">
        <div class="image-content">
          <img src="../../assets/images/drag-icon.png" alt="Drag and Drop Image">
          <p><span class="bold">Choose a file </span>or drag and drop here</p>
        </div>
      </div>
    </div>
    <div class="centered" [ngClass]="url === undefined ? 'btnmgtop' : 'btnmgtop-5'">
      <button class="btn background-secondary" type="button" [disabled]="uploaded === false" (click)="onConvert()">
        <span>Convert </span><img
        src="../../assets/images/arrow.png" alt="Arrow"></button>
    </div>
  </div>
  <!-- 2 -->
  <div class="item-2">
    <div class="settings">
      <div class="setting">
        <img src="../../assets/images/hand-mode-icon.png" alt="Hand Icon">
        <h2>Hand Mode</h2>
        <div class="switch">
          <input class="apple-switch" type="checkbox" [(ngModel)]="handMode">
        </div>
      </div>
      <div class="bottom-line"></div>
      <div class="setting">
        <img src="../../assets/images/contour-icon.png" alt="Contour Icon">
        <h2>Contours</h2>
        <div class="switch">
          <input class="apple-switch" type="checkbox" [(ngModel)]="contour">
        </div>
      </div>
      <div class="bottom-line"></div>
      <div class="setting">
        <img *ngIf="contour" src="../../assets/images/pixel_art_contours.png" alt="Hand Icon">
        <img *ngIf="!contour" src="../../assets/images/pixel_art_no_contours.png" alt="Hand Icon">
        <h2>Pixel Art</h2>
        <div class="switch">
          <input class="apple-switch" type="checkbox" [(ngModel)]="pixelArt">
        </div>
      </div>
      <div *ngIf="!pixelArt" class="bottom-line"></div>
      <div *ngIf="!pixelArt" class="setting">
        <img src="../../assets/images/smoothing-icon.png" alt="Contour Icon">
        <h2>Smoothing</h2>
        <div class="switch">
          <input type="number" class="color-input" [(ngModel)]="maximumArea" #SmoothingInp (ngModelChange)="checkMaximumArea()">
        </div>
      </div>
      <div *ngIf="pixelArt" class="bottom-line"></div>
      <div *ngIf="pixelArt" class="setting">
        <img src="../../assets/images/pixel-size-icon.png" alt="Color Icon">
        <h2>Pixel Size</h2>
        <div class="input-holder">
          <input type="number" class="color-input" [(ngModel)]="size" #rubiksCube>
        </div>
      </div>
      <div class="bottom-line" [ngClass]="handMode? 'mgb-70' : ''"></div>
      <div *ngIf="!handMode" class="setting">
        <img src="../../assets/images/color-icon.png" alt="Color Icon">
        <h2>Colours</h2>
        <div class="input-holder">
          <input *ngIf="!handMode" type="number" class="color-input" [(ngModel)]="amountOfColors" #colorInp>
        </div>
      </div>
      <div *ngIf="handMode" class="color-picker-container mg33px">
        <color-chrome [color]="currentColor" (onChangeComplete)="changeComplete($event)" class="color-picker"
                      #chromeComponent></color-chrome>
        <div class="saved-colors">
          <div *ngFor="let color of selectedColors">
            <div style="background-color:{{color}}" class="saved-color" (click)="onDeleteColor(color)"></div>
          </div>
        </div>
        <div class="save-button">
          <button class="btn small-btn" (click)="onSaveColor()">Add Color</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 3 -->
  <div class="item-3" [ngClass]="convertedUrl===undefined ? 'background-primary-item' : ''">
    <div *ngIf="convertedUrl !== undefined" class="uploaded-image-container" [ngClass]="converting? 'back': ''">
      <img [src]="convertedUrl" alt="Uploaded Image" class="uploaded-image">
      <img *ngIf="converting" src="../../assets/loading.gif" alt="Converted Image" class="loader-gif">
    </div>
    <div *ngIf="convertedUrl === undefined" class="image-display">
      <div class="dotted-line">
        <div class="image-content large-image">
          <img *ngIf="!converting" src="../../assets/images/picture-icon.png" alt="Converted Image">
          <p *ngIf="!converting">Your converted image will show up here</p>

          <img *ngIf="converting" src="../../assets/loading.gif" alt="Converted Image">
          <p *ngIf="converting">Pixilizing Your Image!</p>
        </div>
      </div>
    </div>
    <div class="centered" [ngClass]="convertedUrl === undefined ? 'btnmgtop' : 'btnmgtop-5'">
      <button class="btn background-primary" [disabled]="convertedUrl === undefined" (click)="onDownload()">Download
      </button>
    </div>
  </div>
</div>
